[submodule "guthoms_helpers"]
	path = guthoms_helpers
	url = git@github.com:guthom/guthoms_helpers.git
[submodule "ropose_greenscreener"]
	path = ropose_greenscreener
	url = git@github.com:guthom/ropose_greenscreener.git
[submodule "kinematic_tracker"]
	path = kinematic_tracker
	url = git@github.com:guthom/kinematic_tracker.git
[submodule "ropose_dataset_tools"]
	path = ropose_dataset_tools
	url = git@github.com:guthom/ropose_dataset_tools.git
[submodule "ropose/thirdparty/yolov3"]
	path = ropose/thirdparty/yolov3
	url = https://github.com/ultralytics/yolov3.git
[submodule "ropose/thirdparty/human-pose-estimation.pytorch"]
	path = ropose/thirdparty/human-pose-estimation.pytorch
	url = https://github.com/microsoft/human-pose-estimation.pytorch.git
